<div class="db-cache-dashboard">
    <h1><b>Cache Strategy Comparison</b></h1>
    <!--button (click)="generateRandomOperation()">Simulate Random Operation</button-->

  <table class="w-100">
    <thead>
      <tr>
        <th>Strategy</th>
        <th>Cache</th>
        <th>Cache Hit/Miss</th>
        <th>Response Time (ms)</th>
        <th>Logs</th>
        <th>Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let strategy of strategies">
        <td>{{ strategy.name }}</td> <!-- description -->
        <td>{{ strategy.cache }}</td>
        <td> 123 <!--{{ strategy.cacheHitOrMiss }}--> </td>
        <td> 456 <!--{{ strategy.responseTime }}--> </td>
        <td> 789 <!--{{ strategy.logs }}--> </td>
        <td>
          <div><button>Update cache</button><button>Clear cache</button></div>
          <div><button>Step</button></div>
          <div><button>Run strategy</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>