<div class="center p-8">
    <h2>Datastore</h2>
    <div class="center">
        <label for="db-value">DB value:</label>
        <input type="text" id="db-value">
        <button>Update DB value</button>
    </div>
    <div class="center">
        <label for="max-age-value">Cache control - Max age:</label>
        <input type="text" id="max-age-value">
        <button>Update Max Age</button>
    </div>
    <div class="center"><button>Quickstart</button></div>
    <div class="center"><button>Clear browser caches</button></div>
    <div class="center"><label for="etag-value">ETAG:</label><input readonly type="text" id="etag-value"></div>
    <div class="center"><label for="last-modified-value">Last modified:</label><input readonly type="text" id="last-modified-value"></div>
</div>
